name: "Individual Commits Check"
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize
  push:
    branches-ignore:
      - "wip*"

env:
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  check-conventional-commits:
    name: Check Conventional Commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: webiny/action-conventional-commits@v1.3.0

  check-push-commits:
    if: ${{ github.event_name == 'push' }}
    strategy:
      fail-fast: false
      matrix:
        commit: ${{ github.event.commits }}
        features: [default, profile-with-puffin]

    name: "Check: with `${{ matrix.features }}` feature ${{ matrix.commit.message }} "
    runs-on: ubuntu-latest
    steps:
      - name: "Install dependencies Ubuntu"
        run: |
          sudo apt-get update && sudo apt-get install -y --no-install-recommends build-essential pkg-config
          sudo apt-get install -y libleptonica-dev libtesseract-dev

      - name: "Install rust-toolchain stable"
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy, rustfmt

      - name: "Show environment"
        run: |
          rustc -vV
          cargo -vV

      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          ref: "${{ matrix.commit.id }}"

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "ghw_checks"
          key: "${{ matrix.features }}"
          cache-on-failure: true # useful for don't rebuild dependencies on fix after failure

      - name: Run repository checks
        uses: ./.github/actions/checks
        with:
          features: --features ${{ matrix.features }}

  check-typos-push-commits:
    if: ${{ github.event_name == 'push' }}
    strategy:
      fail-fast: false
      matrix:
        commit: ${{ github.event.commits }}
    name: "Typos for: ${{ matrix.commit.message }} "
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: "${{ matrix.commit.id }}"
      - name: Check spelling
        uses: crate-ci/typos@master

  check-taplo-push-commits:
    if: ${{ github.event_name == 'push' }}
    strategy:
      fail-fast: false
      matrix:
        commit: ${{ github.event.commits }}
    name: "Toml checks for: ${{ matrix.commit.message }} "
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: "${{ matrix.commit.id }}"
      - name: "Taplo .toml formatting"
        if: $${{ always() }}
        uses: gwen-lg/taplo-action@v1
        with:
          format: true
          lint: false

      - name: "Taplo .toml lint"
        if: $${{ always() }}
        uses: gwen-lg/taplo-action@v1
        with:
          format: false
          lint: true
